body {
  background-image: url("../src/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
  width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.logo {
  width: 260px;
  margin-bottom: 20px;
  margin-top: -20px;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.loadingLogo {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loadingLogo {
    animation: logo-spin infinite 5s linear;
  }
}

.searchContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.itemSelect {
  background-color: #111;
  border: 2px solid #ffc103;
  color: white;
  font-size: 1.1rem;
}

.itemTitle {
  color: white !important;
}

.searchBox {
  background-color: #111;
  border: 2px solid #ffc103;
  border-radius: 25px;
  padding: 10px 20px;
  width: 50%;
  color: white;
  font-size: 1.1rem;
}

.searchBox::placeholder {
  color: #aaaaaa;
}

.searchButton {
  background-color: #ffc103;
  border: none;
  color: black;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.searchButton:hover {
  background-color: #ffea00;
}

.peopleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-direction: column;
  gap: 25px;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.card {
  background: linear-gradient(180deg, #1b1b1b, #0d0d0d);
  border: 2px solid #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(255, 214, 10, 0.1);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 25px rgba(255, 214, 10, 0.3);
}

.card h2 {
  color: #ffd60a;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.loading {
  color: #ffd60a;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
